#editform {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.formlogin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

#hmm {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}